$base-el-border-color:             color(grey-200);
$form-control-font-size:           12px;
$form-control-height:              40px;
$form-control-radius:              2px;
$form-control-color:               black;
$form-control-placeholder-color:   color(grey-500);
$form-control-border-color:        $base-el-border-color;
$form-control-border-color-focus:  color(grey-500);
$base-text-color:                  color(grey-600);
$main-padding-horizontal-base:     15px;
$form-control-error-color:         color(red-500);
$modal-header-border-color:        $base-el-border-color;
